$white: white;
$black: #1f1f1f;
$lightblack: #7a7a7a;
$blue: #338fff;
$darkblue: #000050;
$orange: #ff8000;
$lightgrey: #f0f0f0;
$voilet: #643d3d;
$purple: #3b1c32;
$pink: #ff1654;

$opensans: "Open Sans", sans-serif;
$consolas: "consolas", monospace;
$roboto: "Roboto", sans-serif;
$oswald: "Oswald", sans-serif;
$sixcaps: "Six Caps", sans-serif;
$opensanscondensed: "Open Sans Condensed", sans-serif;
$fira: "Fira Sans Condensed", sans-serif;